@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --Green: hsl(75, 94%, 57%);
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --darkgrey: hsl(0, 0%, 12%);
    --Offblack: hsl(0, 0%, 8%);    
}

p , .links a {
    font-size: 14px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Offblack);
    /* I realized that I made a mistake to make two containers of different color,
    the original design only has one container so I updated the background color */
}

.container {
    background-color: var(--Offblack);
    width: 375px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */

}

img {
    border-radius: 50%;
    width: 120px;
}

#location {
    color: var(--Green);
    font-weight: 600;
    margin-top: 10px;
}
.lightgrey-container {
    background-color: var(--darkgrey);
    color: var(--White);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 330px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 25px 10px;
    gap: 30px;
    text-align: center;
 

    
}

.links {
    display: flex;
    flex-direction: column;
    /* border: solid red; */
    width: 100%;
    height: auto;
    gap: 12px;
}

.links a {
    background-color: var(--Grey);
    text-decoration: none;
    color: var(--White);
    font-weight: 600;
    padding: 15px;
    /* border: solid; */
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 15px;

}

a:hover {
    background-color: var(--Green);
    color: var(--Offblack);
}